$accent-color: #FF6838;
$default: #31352B;
$title-color: #363853;
$icon-color: #c2c2c2;

%rubik-300 {
  font-family: 'Rubik';
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik';
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik';
  font-weight: 500;
}

