$accent-color: #FF6838;
$default: #31352B;
$title-color: #363853;
$icon-color: #c2c2c2;

%opensans-light {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%opensans-regular {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-medium {
  font-family: 'OpenSans-Medium', sans-serif;
  font-weight: 500;
}
