@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    margin-right: 63px;
  }
  &__item:not(:last-child) {
    margin-right: 45px;
  }
  &__link {
    font-size: 18px;
    line-height: 21px;
    transition: color 0.3s;
  }
  &__link {
    color: $default;
    &:hover {
      color: $accent-color;
    }
  }
  &__link--active {
    color: $accent-color;
  }
}

.user-nav {
  display: flex;
  margin-right: 10px;
  &__item:not(:last-child) {
    margin-right: 35px;
    position: relative;
  }
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search {
    background-color: transparent;
    cursor: pointer;
    background-image: url("../images/icons/search.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
  }
  &__cart {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../images/icons/shopping-cart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
  }
  &__amount {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 14px;
    height: 14px;
    background-color: $accent-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 50%;
  }
}

.footer-top {
  padding: 120px 0 60px;
  border-bottom: 1px solid $icon-color;
  display: flex;
  &__logo {
    margin-bottom: 30px;
  }
  &__item-form {
    margin-right: 70px;
    max-width: 200px;
  }
  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
  &__form-input {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    padding: 8px 15px;
    &::placeholder {
      color: $icon-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
    }
  }
  &__form-button {
    position: relative;
    background-color: $accent-color;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    @extend %rubik-500;
    font-size: 14px;
    line-height: 130%;
    padding: 14px 38px;
    text-align: right;
    cursor: pointer;
  }
  &__form-button::before {
    content: '';
    position: absolute;
    background-image: url("../images/icons/direct.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    left: 38px;
  }
  &__list:not(:last-child) {
    margin-right: 40px;
  }
  &__list--nav {
    width: 180px;
  }
  &__list--about {
    width: 128px;
  }
  &__list--info {
    width: 210px;
  }
  &__link {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.01em;
  }
  &__contact-item {
    margin-bottom: 15px;
  }
  &__contact-link {
    position: relative;
    font-size: 16px;
    line-height: 200%;
    font-style: normal;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__contact-link--location::before {
    background-image: url('../images/icons/location.svg');
  }
  &__contact-link--phone::before {
    background-image: url('../images/icons/calling.svg');
  }
  &__contact-link--email::before {
    background-image: url("../images/icons/message.svg");
  }
}

.social__items {
  display: flex;
  align-items: center;
}
.social__link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background-color: #ECECEC;
  border-radius: 50%;
}
.social__item:not(:last-child) {
  margin-right: 13px;
}

.footer-bottom__copy {
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  line-height: 100%;
}

.title {
  font-size: 36px;
  line-height: 130%;
  @extend %rubik-500;
}
.popular-categories__title {
  margin-bottom: 60px;
}

.section {
  padding: 120px 0;
}

.button-default {
    display: inline-block;
    margin-right: 34px;
    padding: 12px 32px;
    background-color: $accent-color;
    border-radius: 6px;
    letter-spacing: 0.03em;
    line-height: 130%;
    font-size: 18px;
    color: #fff;
}

.top-content {
  &__inner {
    display: flex;
    justify-content: space-between
  }
  &__content {
    width: 450px;
    margin-top: 156px;
  }
  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__subtitle {
    color: $accent-color;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__link-more {
    text-decoration: underline;
  }
}

.popular-categories {
  text-align: center;
  &__filter {
    display: flex;
    margin-bottom: 45px;
  }
  &__buttons:not(:last-child) {
    margin-right: 20px;
  }
  &__btn {
    padding: 13px 32px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    border-radius: 5px;
    line-height: 130%;
    display: flex;
    align-items: center;
    }
  
  &__icon {
    fill: $title-color;
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
  &__btn--active {
    background-color: $accent-color;
    color: #FFFFFF;
    .popular-categories__icon {
      fill: #FFFFFF;
    }
  }
  .mixitup-control-active {
    background-color: $accent-color;
    color: #fff;
    .popular-categories__icon {
      fill: #FFFFFF;
    }
  }
  &__items {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  &__item {
    text-align: center;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px 15px;
    max-width: 210px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      width: 140px;
      height: 140px;
      margin-bottom: 10px;
    }
  }
  &__item--burger-with-salate::before {
    background-image: url('../images/burgers/1.jpg');
  }
  &__item--bifburger::before {
    background-image: url('../images/burgers/bifburger.png');
  }
  &__item--king-chisburger::before {
    background-image: url('../images/burgers/king-chisburger.png');
  }
  &__item--black-burger::before {
    background-image: url('../images/burgers/black-burger.png');
  }
  &__item--chicken-burger::before {
    background-image: url('../images/burgers/chicken-burger.png');
  }
  &__item-title {
    font-size: 15px;
    line-height: 18px;
    @extend %rubik-400;
    margin-bottom: 28px;
  }
  &__item-price {
    font-size: 15px;
    line-height: 140%;
    @extend %rubik-500;
    margin-bottom: 10px;
  }
  &__item-btn {
    @extend %rubik-300;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    padding: 7px 16px;
    background-color: $accent-color;
    border-radius: 6px;
  }
  &__link-more {
    text-decoration: underline;
  }
}

.delivery-info {
  padding-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-around;
  }
  &__content {
    margin-top: 60px;
    max-width: 470px;
  }
  &__title {
    font-size: 36px;
    line-height: 130%;
    @extend %rubik-500;
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__subtitle {
    padding-left: 60px;
    font-size: 24px;
    line-height: 150%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__subtitle--timer::before {
    background-image: url("../images/icons/timer.svg");
  }
  &__subtitle--delivery::before {
    background-image: url("../images/icons/delivery.svg");
  }
  &__subtitle--resturant::before {
    background-image: url("../images/icons/resturant.svg");
  }



  &__stats {
    margin-bottom: 30px;
  }
  &__btn {

  }
}

.best-restaurants {
  padding-bottom: 120px;
  &__title {
    margin-bottom: 45px;
  }
  &__item {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    max-width: 370px;
    border-radius: 10px;
  }
  &__img {

  }
  &__box {
    padding: 15px 20px 20px 20px;
  }
  &__subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 130%;
    @extend %rubik-400;
  }
  &__time {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.9;
    @extend %rubik-300;
    padding-left: 30px;
    position: relative;
    &::before {
      content: '';
      background-image: url("../images/icons/timer-icon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      height: 22px;
      width: 22px;
      left: 0;
      top: 3px;
    }
  }
  &__link-btn {
    height: 33px;
    width: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: $accent-color;
    padding: 5px 28px;
  }
  &__icon {
    height: 24px;
    width: 24px;
    fill: #FFFFFF;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    height: 300px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}




@import 'media';
